:root {
  --background-color: #e3f2fd;
  --nav-text-color: #585858;
  --greet-text-color: #737474;
  --card-background-color: #f2f9fe;
  --card-hover-background-color: #dfe4ea;
  --card-gradient: linear-gradient(145deg, #f9fcff, #dfe7ef);
  --card-border-color: rgba(255, 255, 255, 0.4);
  --card-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  --search-box-background-color: #d1ebfd;
  --user-message-background-color: #4b90ff;
  --user-message-text-color: #f8f9fa;
  --bot-message-background-color: #f1f1f1;
  --loader-primary-color: #3b82f6;
  --loader-secondary-color: #2563eb;
  --code-text-color: #000000;
  --transparent-color: transparent;
  --text-color: black;
  --input-color: black;
  --logo-color: black;
}

.dark-mode {
  --background-color: #121212;
  --nav-text-color: #e0e0e0;
  --greet-text-color: #b0b0b0;
  --card-background-color: #1e1e1e;
  --card-hover-background-color: #2a2a2a;
  --card-gradient: linear-gradient(145deg, #1e1e1e, #2a2a2a);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  --search-box-background-color: #1e1e1e;
  --user-message-background-color: #3b82f6;
  --user-message-text-color: #ffffff;
  --bot-message-background-color: #2a2a2a;
  --loader-primary-color: #90caf9;
  --loader-secondary-color: #42a5f5;
  --code-text-color: #e0e0e0;
  --transparent-color: transparent;
  --input-color: white;
  --text-color: white;
  --logo-color: white;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

.main {
  flex: 1;
  min-height: 100vh;
  position: relative;
}
.nav p {
  font-size: 1.6rem;
  font-weight: 700;
  /* font-family: 'Poppins', sans-serif; */
  letter-spacing: 0.5px;
  color: var(--logo-color);
  text-shadow: 0 0px 20px rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  transform: translateY(5px);
}


.main .nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(1000px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
  padding-inline: 300px;
  color: var(--nav-text-color);
  z-index: 10000;
  margin-bottom: 40px;
  backdrop-filter: blur(30px);
  user-select: none;
}
.light_mode_icon {
  user-select: none;
  filter: brightness(1.2) invert(0.8);
}

.dark_mode_icon {
  height: 35px;
  width: 35px !important;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.light_mode_icon {
  height: 35px;
  width: 35px !important;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.dark_mode_icon:hover {
  transform: scale(1.1) rotate(30deg);
}
.light_mode_icon:hover {
  transform: scale(1.1) rotate(30deg);
}
.main .nav img {
  width: 40px;
  border-radius: 50%;
  user-select: none;
}

.main .nav .nav_right {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
}

.main_container {
  max-width: 56vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main .greet {
  margin: 30px 0 50px 0;
  font-size: 48px;
  color: var(--greet-text-color);
  font-weight: 600;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, rgb(127, 136, 136));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--transparent-color);
  animation: gradientShift 8s ease infinite;
  user-select: none;
}

.main .greet span {
  font-size: 64px;
  font-weight: 700;
  color: var(--text-color);
  background: linear-gradient(90deg, #ff758c, #ff9a44, #ffc93c, #42a5f5);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--transparent-color);
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounceEffect {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.main .cards {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  background: linear-gradient(
    135deg,
    rgb(250, 214, 147),
    rgb(171, 169, 169),
    rgb(143, 246, 143)
  );
  border-radius: 9px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
  background-size: 200% 200%;
  background-position: 0% 50%;
  animation: gradientShift 6s ease infinite;
}

.main .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 187px;
  padding: 20px;
  border-radius: 9px;
  background-color: var(--card-background-color);
  background-image: var(--card-gradient);
  backdrop-filter: blur(6px);
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  user-select: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.main .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main .card img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.main .card p {
  color: var(--nav-text-color);
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.main_bottom {
  position: fixed;
  bottom: -10px;
  width: 66%;
  max-width: 85vw;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0px 20px 10px 20px;
  margin: auto;
  z-index: 100;
  background-color: var(--background-color);
  height: 90px;
  margin-top: 30px;
}

.main_bottom_with_file {
  bottom: 45px;
}

.search_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--search-box-background-color);
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.4s;
}
.search_box:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* subtle shadow */
  transform: translate(2px, -2px);
}

.dark-mode .search_box:hover {
  box-shadow: 0 2px 8px rgba(165, 163, 163, 0.2);
  transform: translate(2px, -2px);
}

.tempo {
  display: flex;
  justify-content: center;
}

.tempo div{
  user-select: none;
}

.file_container {
  display: inline-flex;
  padding-block: 8px;
  padding-right: 12px;
  padding-left: 4px;
  background-color: #a6daff;
  width: fit-content;
  border-radius: 20px;
}
.dark-mode .file_container {
  background-color: #171717;
}
.file_name {
  font-size: 16px;
}
.dark_mode .file_name {
  color: rgb(255, 255, 255);
}

.search_box img {
  width: 24px;
  cursor: pointer;
}
.search_box .new_file {
  transform: translateX(6px);
}
.dark-mode .search_box img {
  width: 24px;
  cursor: pointer;
}
.dark-mode .utility_icon {
  filter: brightness(1.1) invert(1);
}

.search_box input {
  flex: 1;
  background: var(--transparent-color);
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 14px;
  font-size: 18px;
  color: var(--input-color);
}

.search_box input::placeholder{
  user-select: none;
}

.search_box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.file_label {
  display: flex;
}

.main .bottom_info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font: 300;
}

.transparent {
  height: 350px;
}

.user {
  font-weight: 400;
  margin: 0px 0px 50px 0px;
  justify-content: flex-end;
}

.user p {
  background-color: #d1ebfd;
  padding: 5px 15px;
  border-radius: 10px;
  transform: translateY(-2px);
  font-size: 20px;
  max-width: 70%;
}
.dark-mode .user p {
  background-color: var(--search-box-background-color);
}

.bot {
  font-weight: 400;
  margin-bottom: 60px !important;
}

.bot p {
  font-size: 20px;
}

.result {
  padding: 0px 2%;
}

.result_title {
  display: flex;
  gap: 20px;
  transform: translateX(-2%);
}

.result img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-content: flex-start;
}

.result p {
  line-height: 40px;
}

.result_data {
  display: flex;
  align-items: start;
  gap: 20px;
  border-radius: 10px;
}
.hello {
  display: flex;
  flex-direction: column;
}
.temp {
  height: 90px;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px auto;
}

.loader span {
  width: 10px;
  height: 10px;
  background: linear-gradient(
    45deg,
    var(--loader-primary-color),
    var(--loader-secondary-color)
  );
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.8);
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

.typing::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.6;
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.6);
  }
  50% {
    transform: translateY(-12px);
    opacity: 1;
    box-shadow: 0 0 15px rgba(37, 99, 235, 1);
  }
}

.result_data p {
  line-height: 2.5;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message.user p {
  background-color: var(--user-message-background-color);
  color: var(--user-message-text-color);
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.message.bot {
  justify-content: flex-start;
}

.message.bot img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.message.bot p {
  background-color: var(--bot-message-background-color);
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

code {
  color: var(--code-text-color);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: 600;
}
@media (max-width: 1155px) {
  .card1 {
    display: none !important;
  }

  .main .cards {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 4px;
    padding: 4px;
  }

  .main .card {
    height: 140px;
    padding: 12px;
  }

  .main .card p {
    font-size: 17px;
  }
}

/* 1111px and below */
@media (max-width: 1111px) {
  .card1 {
    display: none !important;
  }
}

/* 900px and below */
@media (max-width: 900px) {
  .main .greet span {
    font-size: 50px;
  }
}

/* 842px and below */
@media (max-width: 842px) {
  .main .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4px;
    padding: 4px;
  }

  .main .card {
    height: 100px;
  }

  .main .card p {
    font-size: 14px;
  }
}

/* 837px and below */
@media (max-width: 837px) {
  .card1 {
    display: none !important;
  }
}

/* 768px and below */
@media (max-width: 768px) {
  .main .nav {
    padding-inline: 20px;
    font-size: 22px;
    justify-content: center;
    gap: 50px;
  }

  .main .nav .nav_right {
    gap: 20px;
  }

  .main_container {
    max-width: 90vw;
    padding: 0 10px;
  }

  .main .greet {
    font-size: 32px;
    padding: 10px;
  }

  .main .greet span {
    font-size: 44px;
  }

  .main .cards {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 4px;
  }

  .main .card {
    height: 90px;
  }

  .main .card p {
    font-size: 13px;
  }

  .main_bottom {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .search_box input {
    font-size: 16px;
  }

  .user p,
  .bot p {
    font-size: 18px;
    max-width: 85%;
  }

  .result_title {
    flex-direction: column;
    gap: 10px;
  }

  .result img {
    width: 30px;
    height: 30px;
  }

  .result p {
    line-height: normal;
  }

  .search_box div {
    gap: 10px;
  }
}

/* 600px and below */
@media (max-width: 600px) {
  .main_bottom input {
    flex: none;
    width: 150px;
  }

  .main_bottom img {
    width: 20px;
  }

  .search_box {
    padding: 0 10px;
  }

  .search_box div {
    gap: 5px;
  }

  .main .cards {
    display: none;
  }

  .greetMsg {
    font-size: 25px;
  }

  .greet span {
    font-size: 40px !important;
  }
}
